#output_dir: ./outputs

defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled

hydra:
  output_subdir: null

wandb:
  enable: true
  project: cjepa_predictor_only
  entity: heejeong_nam-brown-university


dataset_name: clevrer
embedding_dir: '/cs/data/people/hnam16/data/modified_extraction/clevrer_slots_step=100000_weight03_lr1e-4_clevrer.pkl'
cache_dir: "/cs/data/people/hnam16/.stable_worldmodel"


rollout:
  save_rollout: true
  rollout_batch_size: 64
  rollout_only: false
  rollout_checkpoint: null
output_model_name: causal_world_model
training_type: video  # options: video, wm

trainer:
  max_epochs: 100
  strategy: ddp 
  devices: auto
  accelerator: gpu 
  precision: 16-mixed
  log_every_n_steps: 1

batch_size: 256
num_workers: 10

seed: 42

image_size: 224
patch_size: 16

n_steps: ${eval:'${dinowm.num_preds} + ${dinowm.history_size}'}
frameskip: 5

dinowm:
  history_size: 3
  num_preds: 1
  proprio_dim: 4
  proprio_embed_dim: 10
  action_dim: 2
  action_embed_dim: 10

# Masked Slot Predictor Configuration
num_masked_blocks: 2  # M: number of slots to mask during training
mask_ratio: 0.5     # N: target masking ratio

predictor:
  depth: 6
  heads: 16
  mlp_dim: 2048
  dim_head: 64
  dropout: 0.1
  emb_dropout: 0.0

videosaur:
  NUM_SLOTS: 7 
  SLOT_DIM: 128 

predictor_lr: 5e-4
proprio_encoder_lr: 5e-4
action_encoder_lr: 5e-4

dump_object: true




